<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.WooDongGo"
        tools:targetApi="31">
        <activity
            android:name=".AppStart1"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:parentActivityName=".AppStart5"/>
        <activity
            android:name=".AppStart2"
            android:exported="false"
            android:parentActivityName=".AppStart1"/>
        <activity
            android:name=".AppStart3"
            android:exported="false"
            android:parentActivityName=".AppStart2"/>
        <activity
            android:name=".AppStart4"
            android:exported="false"
            android:parentActivityName=".AppStart3"/>
        <activity
            android:name=".AppStart5"
            android:exported="false"
            android:parentActivityName=".AppStart4"/>

        <activity
            android:name=".Login_MainActivity"
            android:exported="false"
            android:parentActivityName=".AppStart5"/>

    </application>

</manifest>